
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/Images/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.login-box {
    width: 50%;
    min-width: 350px;
    max-width: 500px;
    color: whitesmoke;
    padding: 6em 3em;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgb(201, 201, 201);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.login-box h1 {
    font-size: 2.5em;
    text-align: center;
}


.input-box {
    position: relative;
    width: 100%;
    height: 5vh;
    margin: 1.5em 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(121,150,164,255);
    border-radius: 50em;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 40px;
    color: rgba(46,57,61,255);
}

.input-box input::placeholder {
    color: rgba(46,57,61,255);
}

.input-box i {
    position: absolute;
    right: 4%;
    top: 25%;
    font-size: 1.2em;
    color: rgba(46,57,61,255);
}

.sub-btn {
    width: 100%;
    height: 5vh;
    border: none;
    outline: none;
    border-radius: 50em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    font-size: 1em;
    font-weight: 600;
    margin-top: 4vh;
    opacity: 80%;
    background-color: rgba(68,96,106,255);
    color: whitesmoke;
}

.sub-btn:hover {
    background-color: rgba(45,56,60,255);
    transition: 0.4s ease-in;
    color: whitesmoke;
} 